<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<div id='notification-content-header'>
  <h4>New Notification</h4>
</div>
<div class='container'>
  <%= form_for @spree_notification , :url => "/admin/notifications", :html => {:method => :post} do |f| %>
    <%= render partial: 'form', :locals => {f: f}%>
  <% end %>
</div>
