<% if get_notification.present? %>
  <ul id='notification_list'>
  <img id="close_img" src="/assets/close.png">
    <% get_notification.each do |notification|%>
        <div id="notification_contents">
          <div id="notification_div">
            <li>
              <%= notification.notification%>
            </li>
          </div>
        </div>
    <% end %>
  </ul>
<% end %>
