/*
 *= require admin/spree_backend
*/

.create_btn{
  float: right;
  margin-right: 40px;
  position: relative;
}
#index_table {
    margin-top: 62px;
}
#notification-content-header{
   padding-bottom: 25px;
}
.input-width{
  width: 50%
}

/* time picker css*/
.ui-timepicker-div{
  padding-left: 10px;
}
