/*
 *= require admin/spree_backend
*/

.create_btn{
  float: right;
}
#index_table {
    margin-top: 62px;
}
#notification-content-header{
   padding-bottom: 25px;
}
#admin-menu ul{
  table-layout: none !important;
}
